$font-family-primary: "Shrikhand", cursive;
$font-family-secondary: "Roboto", sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-grey: #404040;
$color-lightgrey: #848484;

$color-background: #F7F7F7;