.footer {
    background: #353535;
    padding: 20px;
    a{
        text-decoration: none;
        color: initial;
    }
    &__logo {
        width: 100px;
        path {
            fill: white;
        }
    }

    &__list{
        list-style: none;
        padding: 0;
        li{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        svg{
            width: 15px;
            vertical-align: middle;
            margin-right: 5px;
            fill: white;
        }
        span{
            font-family: $font-family-secondary;
            font-size: 15px;
            color: white;
        }
    }
}
