h1 {
    color: black;
    font-family: $font-family-secondary;
}

h2 {
    font-family: $font-family-secondary;
    font-size: 24px;
}

p {
    font-family: $font-family-secondary;
    font-size: 1.1rem;
    color: $color-grey;
    font-weight: 200;
}
